<h4> Create a New Blog </h4>

{{paper-input label="Blog Title" valueBinding="newBlog.title"}}
{{paper-input textarea=true label="Description" valueBinding="newBlog.description"}}

{{paper-button raised=true primary=true action="createBlog" target=component label="Create"}}
