{{paper-input label="Username" type="text" valueBinding="credentials.username"}}
{{paper-input label="Password" type="password" valueBinding="credentials.password"}}

{{paper-button raised=true primary=true action="login" target=component label="Login"}}

{{!-- <div id="logAlert">
  <strong>Log in unsuccessful</strong>
  <a href="#" id="close" >{{paper-icon icon="close"}}</a>
</div> --}}
{{!-- <div class="alert alert-success fade in" id="logProgress">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong><i class="fa fa-spinner fa-pulse"></i>  Logging in...</strong>
</div> --}}
